<% if user_signed_in? %>
  <%= "#{current_user.account_name}さんでログイン中" %>
  <br>
  <%= link_to new_article_path do %>
    <%= "ツイート作成ページへ" %>
  <% end %>
  <br>
  <%= link_to destroy_user_session_path, method: "delete" do %>
    <%= "ログアウト" %>
  <% end %>
<% else %>
  <%= "ログインしていません" %>
  <br>
  <%= link_to new_user_registration_path do %>
    <%= "ユーザー登録ページへ" %>
  <% end %>
  <br>
  <%= link_to new_user_session_path do %>
    <%= "ログインページへ" %>
  <% end %>
<% end %>

<div class="title">
  <% Article.all.each do |article| %>
    <%= "#{article.user.account_name}(#{article.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %>
    <%= article.tweet %>
    <br>
  <% end %>
</div>